<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724606814227-t5gav6hhqr07jguvermd83hp86nl3j5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724606814227-t5gav6hhqr07jguvermd83hp86nl3j5m</string>
	<key>API_KEY</key>
	<string>AIzaSyAHuLkFB1uKm_KjPq_CwyJIsNXmMkMzRe0</string>
	<key>GCM_SENDER_ID</key>
	<string>724606814227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.protoType</string>
	<key>PROJECT_ID</key>
	<string>yonsei-gen-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>yonsei-gen-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724606814227:ios:ccde1cf89347ebb0e417e6</string>
</dict>
</plist>